/* === ACCORDIONS === */

* {
	box-sizing: border-box;
	&::before, &::after {
		box-sizing: border-box;
	}

}

.accordion {
	position: relative;

	.accordion-item {
		border-bottom: 1px solid $mainGrey;

		button[aria-expanded='true'] {
			padding-bottom: 0.25rem;
		}

	}

	button {
		position: relative;
		display: block;
		text-align: left;
		width: 100%;
		padding: 1em 0;
		color: $mainGrey;
		font-size: 1.0rem;
		font-weight: 400;
		border: none;
		background: none;
		outline: none;
		border-radius: 0px;
		margin-bottom: 0.0rem;
		padding-right: 1.0rem;
		padding-bottom: 1.0rem;

		&:hover, &:focus {
			cursor: pointer;
			color: $mainGreen !important;
			background-color: transparent !important;

			&::after {
				cursor: pointer;
				color: $mainGreen;
				color: $mainGrey;
				background-color: transparent !important;
				border: 1px solid $mainGreen;
			}

		}

		.accordion-title {
			font-weight: 700;
			padding: 1em 1.5em 1em 0;
		}

		.icon {
			display: inline-block;
			position: absolute;
			top: 18px;
			right: 0;
			width: 22px;
			height: 22px;
			border: 1px solid;
			border-radius: 22px;

			&::before {
				display: block;
				position: absolute;
				content: '';
				top: 9px;
				left: 5px;
				width: 10px;
				height: 2px;
				background: currentColor;
			}

			&::after {
				display: block;
				position: absolute;
				content: '';
				top: 5px;
				left: 9px;
				width: 2px;
				height: 10px;
				background: currentColor;
			}

		}

	}

	button[aria-expanded='true'] {
		color: $mainGreen;

		.icon {
			&::after {
				width: 0;
			}
		}

		+ .accordion-content {
			opacity: 1;
			max-height: 9em;
			transition: all 200ms linear;
			will-change: opacity, max-height;
		}

	}

	.accordion-content {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transition: opacity 200ms linear, max-height 200ms linear;
		will-change: opacity, max-height;

		p {
			font-size: 1rem;
			font-weight: 300;
			margin: 1.5em 0;
			margin-top: 0.25em;
		}

	}

}