/* === CARDS === */

.card {
	position: relative;
	background-color: white;
	border-radius: 17px;
	/* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	mix-blend-mode: multiply;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	padding: 0.0rem;
	overflow: hidden;

	@mixin atTablet {

	}

	&__container {

		@mixin atTablet {

		}
	}


	&__title {
		font-family: 'Bitter', serif;
		font-size: 1.75rem;
		font-weight: 500;
		line-height: 2.0rem;
		color: $mainGrey;

		@mixin atTablet {

		}
	}


	&__thumbnail {
		position: relative;
		display: block;
		object-fit: cover;
		margin: 0.0rem;
		margin-bottom: 1.0rem;
		padding: 0.0rem !important;

		@mixin atTablet {
			margin: 0.0rem;
		}
	}

	&__content {
		padding: 1.5rem;
		padding-bottom: 2.5rem;

		@mixin atTablet {

		}
	}

	&__content p {
		font-size: 1.25rem;
		line-height: 1.875rem !important;
		padding-bottom: 0.75rem;

		@mixin atTablet {

		}
	}


	&__button {
		margin-top: 1.0rem !important;
		margin-bottom: 1.0rem !important;

		@mixin atTablet {

		}
	}

}