.section-general-notes {

	&__container {

	}


	&__card {
		position: relative;
		margin-bottom: 1.5rem;
		padding: 1.0rem;

		@mixin atTablet {

		}

		&__container {

			@mixin atTablet {

			}
		}
	}


	&__container {
		display: inline-flex;
		align-content: flex-start;
		justify-content: flex-start;
		padding: 0.0rem;
	}


	&__icon {
		margin-right: 1.0rem;
	}


	&__content {
		font-family: 'Kanit', sans-serif;
		font-size: 1.4rem;
		font-weight: 400;
		font-style: italic;
		color: $mainGrey;
	}

	&__content p {
		line-height: 1.5rem;
	}

}