/* === FAQ SECTION === */

.section-faqs {
	margin-bottom: 1.5rem;

	@mixin atLaptop {

	}

	&__headline {
		font-weight: 700;
		color: $mainGrey;

		@mixin atLaptop {

		}

	}

	&__intro {
		font-family: 'Kanit', sans-serif;
		font-weight: 300;

		@mixin atLaptop {

		}

	}

	&__container {


		@mixin atLaptop {


		}

	}


	&__card {



		@mixin atLaptop {

		}

	}

	&__accordion {

		@mixin atLaptop {

		}

	}

	&__accordion-item {
		padding-left: 0.5rem;

		@mixin atLaptop {

		}

	}

	&__accordion-title {
		font-family: 'Kanit', sans-serif;
		font-size: 1.125rem;
		font-weight: 400 !important;
		font-style: italic;
		line-height: 1.5rem;


		@mixin atLaptop {

		}

	}

	&__accordion-content {

		@mixin atLaptop {

		}

	}

}