/* === SITE-FOOTER === */
.site-footer {
	position: relative;
	display: block;
	font-size: 0.9rem;
	color: white;
	line-height: 1.6rem;
	text-align: center !important;
	letter-spacing: 0.05rem;
	margin-top: 4.0rem;
	background-color: $mainBrown;

	height: auto;
	vertical-align: middle;
	background-image: url('../images/footer/footer_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow: hidden;


	a {
		color: white;
		text-decoration: none;
	}


	&__contact-area {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: baseline;
		width: 100%;
		text-align: center;
		color: white;
		background-color: $mainGreen;
		margin: 0 auto;
		padding-top: 0.5rem;
		padding-bottom: 0.0rem;

		@mixin atLaptop {
			padding-top: 2.0rem;
			padding-bottom: 1.0rem;
		}

	}


	&__contact-phone-container {
		position: relative;
	}


	&__contact-phone-infos {

	}


	&__contact-phone-icon {
		width: 20px;

		@mixin atLaptop {
			width: 30px;
			top: -5px;
			margin-right: 5px;
		}
	}


	&__contact-phone-number {
		position: relative;
		top: -5px;
		font-family: 'Kanit';
		font-size: 0.8rem;
		font-weight: 500;
		border-right: 1.5px solid $mainBrown;
		padding-right: 0.5rem;

		@mixin atLaptop {
			font-size: 2.0rem;
			border-right: 2.5px solid $mainBrown;
		}

	}


	&__contact-mail-container {
		position: relative;
	}


	&__contact-mail-infos {
		padding-left: 0.5rem;
	}


	&__contact-mail-icon {
		width: 18px;
		top: -5px;

		@mixin atLaptop {
			width: 30px;
			top: -5px;
			margin-left: 5px;
		}

	}


	&__contact-mail-address {
		position: relative;
		top: -5px;
		font-family: 'Kanit';
		font-size: 0.8rem;
		font-weight: 500;

		@mixin atLaptop {
			font-size: 2.0rem;
		}

	}








	&__navigation-area {
		display: flex;
		flex-flow: column;

		@mixin atLaptop {
			flex-direction: row;
			padding-top: 1.5rem;
			padding-bottom: 4.0rem;
		}

	}


	&__navigation-container {
		order: 1;

		@mixin atLaptop {
			position: relative;
			width: 75%;
			order: 2;
		}
	}


	&__navigation {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;
		align-items: baseline;
		font-weight: 700;
		line-height: 2.0rem;
		color: white;
		padding-top: 0.0rem;
	}

	&__navigation-list {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		align-items: baseline;
		width: 90%;
		font-size: 0.8rem;
		font-weight: 500;
		list-style: none;
		line-height: 1.6rem;
		margin: 0 auto;
		margin-top: 2.0rem;
		padding-left: inherit;

		@mixin atLaptop {
			justify-content: flex-end;
			margin-right: 5%;
			gap: 100px;
		}

	}


	&__navigation-list-item {
		font-family: 'Bitter';
		font-size: 1.0rem;
		text-align: center;
	}


	&__navigation-list a {
		text-decoration: none;
	}









	&__copyright-container {
		order: 2;

		@mixin atLaptop {
			position: relative;
			width: 35%;
			order: 1;
			text-align: left;
			margin-left: 2.5%;
		}
	}


	&__copyright {
		position: relative;
		width: 85%;
		font-family: 'Kanit';
		font-size: 0.7rem;
		font-weight: 500;
		margin: 2.0rem auto;
		margin-bottom: 0px;
		padding-top: 2.0rem;
		padding-bottom: 1.5rem;

		@mixin atLaptop {
			display: block;
			width: 100%;
			bottom: 0px;
			font-size: 0.9rem;
			font-weight: 400;
			margin-top: 0px;
			padding-top: 2.0rem;
			padding-bottom: 25px;
		}

		@mixin atDesktop {

		}
	}



}